<%# add navigation links to this file %>
<li><%= link_to 'Accounts', accounts_path, class:'small button' %></li>
<li><%= link_to 'Gages', accounts_path, class:'small button' %></li>
<li><%= link_to 'Calibration', accounts_path, class:'small button' %></li>
<li><%= link_to 'Data Templates', accounts_path, class:'small button' %></li>
<li><%= link_to 'Procedures', accounts_path, class:'small button' %></li>
<li><%= link_to 'Quality', accounts_path, class:'small button' %></li>

